@page "/"
@inject NavigationManager _navigationManager

<PageTitle>How To Routing</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<Counter incrementBy="5" />

<h2 style="margin-top: 16px;">Routing from Index</h2>

<a href="about">Go To About</a> | <a href="about-me">About Me</a>

<div>
  <button class="btn btn-warning" @onclick="@(() => {_navigationManager.NavigateTo("/about/bogor/studio/2500");})">
    Send Value To About
  </button>
</div>